body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #202123;
  color: #ffffff;
}

/* Login Section */
.login-section {
  padding: 50px 0;
  background-color: #202123;
}

.login-section .container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

form {
  background-color: #2a2b2e;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #3e3f42;
  border-radius: 8px;
  background-color: #3e3f42;
  box-sizing: border-box;
  color: white;
}

button {
  background-color: #ffffff;
  color: #2e2e2f;
  border: none;
  padding: 15px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
    background: #f7f7f8;
    border-color: #c8c8d0;
}

.signup-redirect {
  margin-top: 20px;
  font-size: 14px;
}

.signup-redirect a {
  color: #3498db;
  text-decoration: none;
}

.signup-redirect a:hover {
  text-decoration: underline;
}