/* Styles for Profile Page */
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  background-color: #202123;
  color: #FFFFFF;
}
.profile {
  padding: 50px 0;
  background-color: #202123;
}

.profile .container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h2 {
  font-size: 36px;
  color: white;
  margin-bottom: 20px;
}

p {
  font-size: 16px;
  color: #666;
  margin-bottom: 30px;
}

/* Profile Form */
.profile-form {
  background-color: #2A2B2E;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.profile-form label {
  font-size: 18px;
  color: white;
  display: block;
  margin: 15px 0 5px;
}

.profile-form select {
  font-size: 16px;
  padding: 12px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #3E3F42;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
}
.profile-form input,
.profile-form textarea {
  width: 96%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #3E3F42;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  appearance: none;
  -webkit-appearance: none;
}

.profile-form textarea {
  height: 150px;
  resize: vertical;
}

.profile-form button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #10A37F;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.profile-form button:hover {
  background-color: #0D8A6F;
}

/* Footer */


/* Navigation Bar */
.navbar {
  background: #444654;
  color: #fff;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar .container {
  display: flex;
  justify-content: space-between; /* Space between brand and nav links */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto; /* Center the container */
  padding: 0 20px;
}

.navbar .brand {
  color: white;
  font-size: 24px;
}

.navbar .nav-links {
  list-style: none;
}

.navbar .nav-links li {
  display: inline;
  margin-left: 20px;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar .nav-links a:hover {
   color: #10A37F;
}
